
/* CSS for nav and home page */

body {
  font-family: Arial, serif;
  text-align: center;
  color: #343a40;
  font-size: 22px;
}

.home h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  margin-top: 0px;
  /* font-size: 48px; */
  font-size: 97px;
  padding-right: 250px;
  padding-left: 250px;
  padding-top: 100px;
  padding-bottom: 60px;
  /* color: #007aad */
  color: #004a6e
}

h2{
  text-align: left;
}

h3{
  text-align: left;
  color: #004a6e;
  /* padding 100px 60px; */
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  /* margin-top: 40px; */
  /* font-size: 48px; */
  font-size: 44px;
  padding-right: 20px;
  /* padding-right: 190px; */
  /* padding-left: 92px; */
  /* padding-top: 90px; */
  padding-bottom: 60px;
}

/* p {
  margin-top: 80px;
} */

button {
  margin-top: 40px;
}

.page-header {
  background-color: #00bda5;
  padding-top: 40px;
  padding-bottom: 80px;
  color: #ffffff;
}

#image img {
  height: 200px;
  margin-top: 60px;
  
}

.item p {
  display: inline-block;
  /* margin-top: 40px */
}

.inline h3, svg{
  display: inline-block;
  /* margin-top: 40px */
}

.logo {
  text-align: left;
  padding-left: 50px;
  padding-right: 685px;
  /* width: 50%; */
  font-size: 25px;
  font-family: 'Poppins';
  font-weight: 520;
  margin-top: 40px;
  color: #004a6e
}

.menu {
  text-align: right;
  /* width: 5%; */
  padding-right: 50px;
  font-size: large;
  font-weight: 500;
  margin-top: 40px;
}

.menu2 {
  text-align: right;
  
  margin-top: 27px;
  font-size: large;
  margin-right: 55px;

  border-radius: 12px;
  padding: 10px 26px;
  background-color: black;
  text-align: center;
  text-decoration: none;

}

.menu3 {
  text-align: right;
  margin-top: 10px;
  font-size: large;
  border-radius: 12px;
  padding: 10px 26px;
  background-color: black;
  text-align: center;
  text-decoration: none;
  float: center; color:white; 
  margin-bottom: 30px;
  color: white;
  font-size: large;
}

.button2 {
  padding-right: 50px;
  margin-top: 27px;
  font-size: large;

  border-radius: 12px;
  padding: 10px 26px;
  background-color: black;
  text-align: center;
  text-decoration: none;
  float: center;
}

.nav {
  width: 100%;
  background-color: white;
  margin-left: auto;
  margin-right: auto;  
  
}

.a_class1 {
  color: black;
}

.a_class2 {
  color: white;
  font-size: large;
}

.a_class3 {
  color: #004a6e;
}

/* a:hover {
  color: black;
  background-color: white;
  text-decoration: underline;
} */

.interlude1{
  background-color: #004a6e;
  height: 300px;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  
  margin-top: 40px;
  /* font-size: 48px; */
  font-size: 43px;
  padding-right: 250px;
  padding-left: 250px;
  padding-top: 100px;
  padding-bottom: 120px;
  margin-bottom: 60px
}

img {
  border-radius: 19px;
  
}

.resize {
  width: 950px;
  height: auto;
  text-align: center;
  justify-content: center;
}
.resize2 {
  width: 320px;
  height: auto;
  margin-right: 12px;
}

.resize3 {
  width: 420px;
  height: auto;
  margin-right: 0px;
  margin-left: 110px;
  margin-top: 35px;
}

.resize4 {
  width: 390px;
  height: auto;
  margin-right: 250px;
  margin-left: 0px;
  margin-top: 35px;
}

.resize5 {
  width: 300px;
  float: right;
  height: auto;
  margin-right: 250px;
  margin-left: 0px;
  margin-top: 120px;
}



.container {
  display: flex;
  align-items: center;
  justify-content: left
}

.interlude2{
  background-color: #004a6e;
  height: 200px;
  color: white;
  font-family: 'Poppins', sans-serif;
  margin-top: 200px;
  text-align: left;
  font-size: 17px;
  font-weight: 100;
  padding-top: 42px;
  padding-left: 55px;
}

.interlude3{
  background-color: #004a6e;
  height: 120px;
  color: white;
  font-family: 'Poppins', sans-serif;
  margin-top: 59px;
  text-align: left;
  font-size: 17px;
  font-weight: 100;
  padding-top: 42px;
  padding-left: 55px;
}

.right{
  float: right;
}

tr{
  color: white;
  }

  /* CSS for get_involved page */
.about h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 550;
    margin-top: 0px;
    font-size: 49px;
    text-align: left;
    /* margin-top: 100px;
    margin-left: 35px; */
    color: black;
    /* padding-right: 122px; */
    padding-top: 100px;
  }

.getinvolved h2{
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  font-weight: 700;
  color: #343a40;
  margin-top: 20px;
  margin-left: 110px;
}

.getinvolved2 p{
  font-family: 'Poppins', sans-serif;
  text-align: left;
  margin-left: 110px;
  padding-right: 750px;
  padding-top: 10px;
  color: black;
  font-size: 15px;
}

.getinvolved23 p{
  font-family: 'Poppins', sans-serif;
  text-align: left;
  margin-left: 750px;
  padding-right: 110px;
  padding-top: 10px;
  color: black;
  font-size: 15px;
}

  .margin_about{
    margin-left: 110px;
    margin-top: 40px;
  }
  .button24 {
    text-align: center;
    border-radius: 12px;
    margin-top: 27px;
    font-size: large;
    /* margin-right: 550px; */
    width: 150px;
    margin-left: 110px;
    margin-bottom: 50px;
  
    padding: 10px 26px;
    background-color: black;  
  }

  .button23 {
    text-align: center;
    border-radius: 12px;
    margin-top: 27px;
    font-size: large;
    width: 180px;
    margin-left: 750px;
    margin-bottom: 50px;
    padding: 10px 26px;
    background-color: black; 
    float: left; 
  }

  .button24 {
    text-align: center;
    border-radius: 12px;
    margin-top: 27px;
    font-size: large;
    width: 180px;
    margin-left: 110px;
    margin-bottom: 50px;
  
    padding: 10px 26px;
    background-color: black;  
  }



  .getinvolved1 h2{
    font-family: 'Poppins', sans-serif;
    text-align: left;
    margin-left: 750px;
    margin-top: 35px;
    font-size: 33px;
    padding-right: 250px;
    font-weight: 500;
    color: black
  }

  /* CSS on who we are */

.whoweare h1{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  margin-top: 0px;
  font-size: 47px;
  padding-right: 700px;
  padding-left: 110px;
  padding-top: 100px;
  padding-bottom: 88px;
  text-align: left;
  color: white;
  background-color: #004a6e;
}

.whoweare1 h2{
  font-family: 'Poppins', sans-serif;
  /* font-weight: 700; */

  text-align: left;
  margin-left: 110px;
  /* font-size: 77px; */
  padding-right: 250px;
  font-weight: 500;

  padding-top: 40px;
  padding-bottom: 0px;
  color: black
}

.whoweare2 p{
  font-family: 'Poppins', sans-serif;
  text-align: left;
  margin-left: 110px;
  padding-right: 250px;
  padding-top: 10px;
  color: black;
  font-size: 15px;
}


.nav2 {
  width: 100%;
  background-color: #004a6e;
  color: white;
  margin-left: auto;
  margin-right: auto; 

  
}

.a_class4 {
  color: white;
}

.a_class5 {
  color: white;
  font-size: large;
}


/* signup  */

.md-social-btn .mbsc-ic {
  float: left;
}

.main{
  /* display: flex; */
  /* height: 100vh; */
  margin-bottom: 20px;
  justify-content: top;
  align-items: center;
  /* flex-direction: column; */
}

.submit-btn{
  position: absolute;
  align-items: center;
  left:50%;
  top: 75%;
  margin-top: 30px;
}

/* {box-sizing: border-box;} */

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}