<html lang="en">
  <head>
    <%- include ("../helpers/head") %>
  </head>
  <body>
    <div class="nav2">
      <article class="item">
        <p class="logo"><a class="a_class4" href="/">ChurchCollabo</a></p>  
        <p class="menu2" style="float:right"><a class="a_class5" class="active"href="start_hiring">Start hiring</a></p>
        <p class="menu" style="float:right"><a class="a_class4" class="active" href="who_we_are">Who we are</a></p>
        <p class="menu" style="float:right"><a class="a_class4" class="active" href="get_involved">Get involved</a></p>
        <!-- <p class="menu" style="float:right"><a class="a_class4" class="active" href="find_support">Find Support</a></p> -->
      </article>
    </div>

    <section>
      <div class="whoweare">
        <!-- <h1>For the Kingdom is not a matter of words but of power.</h1> -->
        <h1>Give churches the opportunity to develop their own youth ministries.</h1>
      </div>

<!-- <div class="whoweare1">
<h2>Get involved as a youth worker</h2>
</div> -->

<section>
<img class="resize4" style="float:right" src="../images/Celebration.png" href="Celebration">
<div class="whoweare1">
  <h2>Become a Youth Worker</h2>
</div>
<div class="getinvolved">
  <!-- <h2>Become a Freelance Youth Worker (FYW)</h2> -->
<div class="getinvolved2">
  <p>Most churches in the UK do not have an active youth ministry. 
    Be part of the solution by serving a few hours per week, for 6-12 months, 
    and get guaranteed payments for every hour worked.</p>
  <p><b>Who you'll help</b></p>
  <p>You'll help churches who are starting, expanding or solidifying their youth ministries. 
    You choose how far you're willing to travel and the hours you would like to serve.</p>
</div>
<p class="button24"><a class="a_class5" class="active" href="mailto:info@churchcollabo.com">Apply</a></p>

<hr>

<img class="resize3" style="float:left" src="../images/gifts.png" href="gifts">

<section>
<div class="getinvolved1">
  <h2>Donate to hires</h2>
</div>
<div class="getinvolved">
  <!-- <h2>Donate to hires</h2> -->
</div>
<div class="getinvolved23">
  <p>Most churches cannot afford to hire a youth worker. 
  But through your support we can make sure this changes. 
  Churches will get the support they need to get their own youth ministry started. 
</p>
  <p><b>Who you'll help</b></p>
  <p>Your donation goes towards churches that have a clear vision for young people at their church but
    do not have the man-power nor the funds to hire new members of staff. 
  </p>
  <p><em>If you would like to support us - send us an email and we'll give you the details needed to donate.</em></p>

</div>
<p class="button23"><a class="a_class5" class="active"href="donate">Contact</a></p>
</section>




  















<!-- <section class="margin_about">
  <table style="width:100%">
    <tr style="color:black">
      <td class="getinvolved"><h2>Become a Freelance Youth Worker (FYW)</h2></td>
      <td><u>Who you'll help</u></td>

    </tr>
    <tr style="color:black">
      <td>Most churches in the UK do not have an active youth ministry. Be part of the solution by serving a few hours per week, for 6-12 months, and get guaranteed payments for every horu worked.</td>
      <td>You'll help churches who are starting, expanding or solidifying their youth ministries. You chose how far you're willing to travel and the hours you would like to serve.</td>

    </tr>
    <tr style="color:black">
      <td></td>
      <td></td>

    </tr>
    <tr style="color:black">
      <td></td>
      <td></td>

    </tr>
  </table>
</section> -->


  <footer class="interlude2">
    <table style="width:50%">
      <tr>
        <td><a class="a_class2" href="who_we_are">Who we are</a></td>
        <td><a class="a_class2" href="get_involved">Get involved</a></td>
        <td><a class="a_class2" href="start_hiring">Start hiring</a></td>
      </tr>
        <!-- <tr>
          <td><u>Who we are</u></td>
          <td><u>Get involved</u></td>
          <td><u>Apply</u></td>
        </tr>
        <tr>
          <td>Our history</td>
          <td>Have your say</td>
          <td>Become a youth worker</td>
        </tr>
        <tr>
          <td>Location</td>
          <td>Sign up</td>
          <td>Request a youth worker</td>
        </tr>
        <tr>
          <td>Contact</td>
          <td>Share site</td>
          <td></td>
        </tr> -->
        <p style="float: right; margin-right: 35px;">ChurchCollabo.com</p>
      </table>
    
      </footer>
    </body>
</html>