<html lang="en">
  <head>
    <%- include ("../helpers/head") %>
  </head>
  <body>
    <div class="nav">
      <article class="item">
        <p class="logo"><a class="a_class3" href="/">ChurchCollabo</a></p>  
        <p class="menu2" style="float:right"><a class="a_class2" class="active"href="start_hiring">Start hiring</a></p>
        <p class="menu" style="float:right"><a class="a_class1" class="active" href="who_we_are">Who we are</a></p>
        <p class="menu" style="float:right"><a class="a_class1" class="active" href="get_involved">Get involved</a></p>
      </article>
    </div>

    
    

    <img class="resize5" style="float:right" src="../images/lightbulb_moment.png" href="lightbulb_moment">
    <div class="whoweare1">
      <h2>Find Youth Workers here!</h2>
    </div>
    <div class="getinvolved">
      <h2>Send a request in behalf of your church</h2>
    </div>
    <div class="getinvolved2">
      <p>Hire a freelance youth worker (FYW) for specific tasks and number of hours per week, for 6-12 months, 
        and only pay for the hours worked.</p>
      <p><b>Who you'll get help from</b></p>
      <p>Freelance youth workers are committed and passionate individuals who are willing to help churches other than 
        their own to support excisting youth ministries or get new ones up and running.
        You get to choose who to hire based on the available profiles.</p>
      <!-- <img class="resize5" style="float:right" src="../images/Message_sent.png" href="Message_sent"> -->
      <p><b>Pricing</b></p>
      <p>ChurchCollabo is committed to honour the hours worked by youth workers. 
        The amount to be paid will depend on a range of factors such as
        location and responsibility. </p>
        <!-- Therfore, its is decided on cases by case basis and agreed on contract facilited by us. -->
    </div>
    <p class="button24"><a class="a_class5" class="active"href="apply">Send a request</a></p>

  



    <footer class="interlude3">
      <table style="width:50%">
          <tr class="foot">
            <td><u>Who we are</u></td>
            <td><u>Get involved</u></td>
            <td><u>Apply</u></td>
          </tr>
          <tr class="foot">
            <td>Our history</td>
            <td>Have your say</td>
            <td>Become a youth worker</td>
          </tr>
          <tr class="foot">
            <td>Location</td>
            <td>Sign up</td>
            <td>Request a youth worker</td>
          </tr>
          <tr class="foot">
            <td>Contact</td>
            <td>Share site</td>
            <td></td>
          </tr>
          <p style="float: right; margin-right: 35px;">ChurchCollabo.com</p>
        </table>
      
        </footer>
    </body>
</html>