<html lang="en">
  <head>
    <%- include ("../helpers/head") %>
  </head>
  <body>
    <div class="nav2">
      <article class="item">
        <p class="logo"><a class="a_class4" href="/">ChurchCollabo</a></p>  
        <p class="menu2" style="float:right"><a class="a_class5" class="active"href="start_hiring">Start hiring</a></p>
        <p class="menu" style="float:right"><a class="a_class4" class="active" href="who_we_are">Who we are</a></p>
        <p class="menu" style="float:right"><a class="a_class4" class="active" href="get_involved">Get involved</a></p>
        <!-- <p class="menu" style="float:right"><a class="a_class4" class="active" href="find_support">Find Support</a></p> -->
      </article>
    </div>

<section>
    <div class="whoweare">
      <h1>Our mission is to unlock thriving youth ministries at every church.</h1>
    </div>

    <div class="whoweare1">
      <h2>Who we are</h2>
    </div>
    <div class="whoweare2">
      <p>ChurchCollabo is a Christian organisation that 
        connects youth workers with churches. 
        We're based in Cambridge but work accross the UK. 
        We believe the gospel matters and it's for people of all ages.</p>
    </div>
    <div class="whoweare1">
      <h2>Why are we doing this?</h2>
    </div>
    <div class="whoweare2">
      <p>There are at least three reasons. 
        First, the hope we profess (the gospel) demands to be shared with everyone. 
        Second, most churches in the UK do not have an active youth ministry that teaches and disciples young people - this is due to lack of capacity, resources and know-how. 
        Third, to unlock thriving youth ministries in every church we need the strength of, not one church, person, or organisation, but of all in a myriad of ways. 
        Henceforth, we seek to partner with churches and youth workers to see thriving youth ministries at every church. </p>
    </div>
    <div class="whoweare1">
      <h2>How do we connect churches and youth workers?</h2>
    </div>
    <div class="whoweare2">
      <p>First, we provide a centralised platform where youth workers with the skills and churches with the needs meet. 
        Second, we get youth workers’ profiles, make identity checks and make sure we have all the information needed. 
        Third, churches looking to hire can provide the specific requirements of the ideal youth worker they are looking for. 
        Fourth, both requests and applicants get matched by affinity, geography and synergy with each other. 
        Finally, we facilitate the exchange of contracts and payments, so these are guaranteed and secure.
        </p></div>
    <div class="whoweare1">
      <h2>What kind of churches do we serve?</h2>
    </div>
    <div class="whoweare2">
      <p>Glad you asked, we serve christian protestant churches. The platform is ecumenical (non-denominational). 
        We do seek to serve churches that hold values that align with the Bible. 
        Jesus Christ is our Lord and Saviour, and no one gets to the Father unless it’s through Him by grace alone. 
        We reserve ourselves the right to withhold our services to churches that do not adhere to Biblical truths.</p>
    </div>
    <div class="whoweare1">
      <h2>What if the church cannot afford to pay?</h2>
    </div>
    <div class="whoweare2">
      <p>We facilitate freelance contracts that drive the cost of hiring a youth worker down significantly. 
        Restricted funds, collected through donations for hires, can be made available towards the hire of youth worker for churches that cannot afford it. 
        These funds are limited and a separate application is required to apply for these funds. 
        Do get in touch if this describes your church.</p>
    </div>
    <div class="whoweare1">
      <h2>Are we affiliated to any other church or organisation?</h2>
    </div>
    <div class="whoweare2">
      <p>No, we are not affiliated to any other organisation or church.</p>
    </div>
  </section>



    <footer class="interlude3">
      <table style="width:50%">
          <tr>
            <td><u>Who we are</u></td>
            <td><u>Get involved</u></td>
            <td><u>Apply</u></td>
          </tr>
          <tr>
            <td>Our history</td>
            <td>Have your say</td>
            <td>Become a youth worker</td>
          </tr>
          <tr>
            <td>Location</td>
            <td>Sign up</td>
            <td>Request a youth worker</td>
          </tr>
          <tr>
            <td>Contact</td>
            <td>Share site</td>
            <td></td>
          </tr>
          <p style="float: right; margin-right: 35px;">ChurchCollabo.com</p>
        </table>
      
        </footer>
    </body>
</html>