<meta charset="UTF-8">
<title>Base Web App</title>

<!-- First we import our css files -->

<!-- bootstrap css -->
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />

<!-- Google font CSS -->
<link href="https://fonts.googleapis.com/css?family=Poppins:400,700" rel="stylesheet">

<!-- this app's own css -->
<link rel="stylesheet" type="text/css" href="css/main.css"/>

<!-- Next import js files -->

<!-- first we import jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- then bootstrap -->
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script type="module">

    // Import the functions you need from the SDKs you need
    import { initializeApp } from "https://www.gstatic.com/firebasejs/9.14.0/firebase-app.js";

    

    // TODO: Add SDKs for Firebase products that you want to use
    // https://firebase.google.com/docs/web/setup#available-libraries
    import { getAuth, GoogleAuthProvider, signInWithPopup } from 'https://www.gstatic.com/firebasejs/9.14.0/firebase-auth.js';
    import { getFirestore, collection, getDocs  } from 'https://www.gstatic.com/firebasejs/9.14.0/firebase-firestore.js';
    // import { getAuth, signInWithPopup, GoogleAuthProvider } from "firebase/auth";

    // import { getAuth, createUserWithEmailAndPassword } from "firebase/auth";

    //   const auth = getAuth();
    //   createUserWithEmailAndPassword(auth, email, password)
    //     .then((userCredential) => {
    //       // Signed in 
    //       const user = userCredential.user;
    //       // ...
    //     })
    //     .catch((error) => {
    //       const errorCode = error.code;
    //       const errorMessage = error.message;
    //       // ..
    //     });

      // const auth = getAuth();
      // signInWithPopup(auth, provider)
      //   .then((result) => {
      //     // This gives you a Google Access Token. You can use it to access the Google API.
      //     const credential = GoogleAuthProvider.credentialFromResult(result);
      //     const token = credential.accessToken;
      //     // The signed-in user info.
      //     const user = result.user;
      //     // ...
      //   }).catch((error) => {
      //     // Handle Errors here.
      //     const errorCode = error.code;
      //     const errorMessage = error.message;
      //     // The email of the user's account used.
      //     const email = error.customData.email;
      //     // The AuthCredential type that was used.
      //     const credential = GoogleAuthProvider.credentialFromError(error);
      //     // ...
      //   });
  
    // Your web app's Firebase configuration
    const firebaseConfig = {
      apiKey: "<%=process.env.FIREBASE_API_KEY %>",
      authDomain: "basewebapp-622d6.firebaseapp.com",
      projectId: "basewebapp-622d6",
      storageBucket: "basewebapp-622d6.appspot.com",
      messagingSenderId: "421812317471",
      appId: "1:421812317471:web:841ef9e133eb9860fe542a"
    };
  
    // Initialize Firebase
    const app = initializeApp(firebaseConfig);
    
  </script>

<!-- then our app's own js file -->
<script src="js/main.js"></script>
